<div class="horizontal-container debugData">
    Camera position<br />
    <table class="noBorders">
        <tr>
            <th>X</th>
            <th>Y</th>
            <th>Z</th>
        </tr>
        <tr>
            <td><span id="cameraX"></span></td>
            <td><span id="cameraY"></span></td>
            <td><span id="cameraZ"></span></td>
        </tr>
    </table>
    <br /><br />
    Camera rotation<br />
    <table class="noBorders">
        <tr>
            <th>X</th>
            <th>Y</th>
            <th>Z</th>
        </tr>
        <tr>
            <td><span id="cameraRotX"></span></td>
            <td><span id="cameraRotY"></span></td>
            <td><span id="cameraRotZ"></span></td>
        </tr>
    </table>

    Grid position<br />
    <table class="noBorders">
        <tr>
            <th>X</th>
            <th>Y</th>
            <th>Z</th>
        </tr>
        <tr>
            <td><span id="gridX"></span></td>
            <td><span id="gridY"></span></td>
            <td><span id="gridZ"></span></td>
        </tr>
    </table>
    <br />
</div>
