<span id="currentLayerName" class="genxyz-topBar-Text"></span>
<span class="genxyz-icon fa fa-eye" id="filterLayersIcon" title="Filter Layers"></span>
<span class="genxyz-icon fa fa-th" id="gridIcon" title="Grid"></span>
<span class="genxyz-icon fa fa-magnet" id="snapIcon" title="Snap"></span>
<span class="genxyz-icon fa fa-bug" id="debugIcon" title="Debug"></span>
<span class="align-right"><a href="/"><span class="genxyz-icon fa fa-home" id="homeIcon" title="Home"></span></a></span>
<span class="align-right"><span class="genxyz-icon fa fa-question" id="helpIcon" title="Help"></span></span>
<span class="align-right"><span class="genxyz-icon fa fa-spinner fa-spin" id="loadingIcon"></span></span>